.weeks {
  overflow: hidden;
  display: flex;
}

.week {
  width: 100%;
  display: flex;
  flex-shrink: 0;
}

.days-wrapper {
  width: 100%;
  overflow: hidden;
  height: 100%;
  display: flex;
}

.day {
  display: flex;
  flex: 1 1 auto;
  padding: 8px 4px;
  width: 12.5%;
}

.content-day-wrapper {
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.day h4 {
  margin: 0 0 5px 0;
}

.tasks {
  text-align: left;
  font-size: 90%;
}

.task.add {
  background: none;
  border: none;
  display: block;
}

.task.add:hover {
  background-color: #61dafb;
  color: #ffffff;
  border-color: #eeeeee;
}

.task {
  text-align: left;
  height: 45px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 8px;
  display: flex;
}

.task-value {
  width: 100%;
  text-align: left;
  border: none;
  background: none;
  overflow: hidden;
}

.noname {
  color: #6d6d6d;
}

.task-value div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.task-status {
  padding: 3px;
}

.task-status svg {
}

.task-value {
}

.task .delete {
  width: auto;
  padding: 0;
  background: none;
  border: none;
}

.delete:hover svg {
  color: red;
}

.warning {
  color: red;
}

.week-block {
  display: flex;
}

.week-name {
  flex: 1;
}
